h1 {
  font-size:2em;
  margin:0.67em 0;
}

.jumbotron h1, .jumbotron .h1 {
}

.jumbotron h1, .jumbotron .h1 {
  text-align:left;
  color:white;
  font-family:'Fugaz One';
}

.jumbotron {
}

img {
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
}

.jumbotron p {
  text-align:center;
}

body {
  background-color:rgb(79,177,54);
}

