/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Base SCSS will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: This is where all the variables are defined
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common functions will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common mixins will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: A place to have common utilities 
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: All Animations will be defined here.
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Font, Type definitions
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(2deg); }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 2rem) / 4) + 2*(2rem)); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("./../../assets/img/innovoskies-background-image.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
    .header .logo-box .logo {
      width: 50%;
      height: auto;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
  .header .text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header .text-box .heading-primary {
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 10px; }
      .header .text-box .heading-primary-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 25px;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in-out; }
      .header .text-box .heading-primary-sub {
        margin-top: 20px;
        text-align: center;
        display: block;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 22px;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in-out; }
