.navbar{
    &.navbar-default{
        font-family: 'Carter One';
        background-color: rgb(68,148,47);
        color: rgb(255,255,255);
        a.navbar-brand{
            font-size:29px;
        }
        button{
            background-color:#ffd748;color:rgb(252,252,252);
        }
        .navbar-collapse{
            ul.navbar-nav{
                font-size:19px;
                li>a{
                    color:rgb(241,180,23);
                }
                ul.dropdown-menu{
                    li{
                        a{
                            color:rgb(68,148,47);
                        }
                        a:hover{
                            background-color:  rgba(241,180,23,0.5);
                        }
                    }
                     
                }
            }
            p.navbar-text{
                a{
                    background-color:rgb(235,193,42);
                }
            }   
        }
    }
}