@import "../../sass/main";

.feature-section {
    position: relative;
    top:-6rem;
    padding:20rem 0;
    background-image: linear-gradient(to right, 
    $light-green,
    $dark-green),
    url('./../../assets/img/innovoskies-background-image.jpg'); // Adding gradient and then the image
    background-size: cover; // Always try to fit the image inside the element
    background-position: top; //The top of the image always stays on top, the bottom can get cropped
    
    //To make it look like a parallelogram
    transform: skewY(-7deg);
    & > * {
        // But we dont want the immediate children to also be skewed so....
        transform: skewY(7deg); //We need to first normalize
        &:hover {
            transform: skewY(7deg); //We need to first normalize
        }
    }
}//end:feature-section

//Feature-box component related CSS

.feature-box {    
    background-color: rgba($color-white,.8);
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    transition: transform .3s;

    &__icon {
        font-size: 6rem;
        margin-bottom: 1rem;
        //Making the icon gradient
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; //The background will be seen, only where the text is
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text {

    }
}//end:feature-box