/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Base SCSS will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: This is where all the variables are defined
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common functions will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common mixins will be provided here
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: A place to have common utilities 
*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: All Animations will be defined here.
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Font, Type definitions
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.section-about p.sub-heading {
  font-size: 1.2rem; }

.section-about h3.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.section-about p.paragraph:not(:last-child) {
  margin-bottom: 40px; }

.row {
  max-width: 114rem;
  padding: 0 15px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 2rem) / 4) + 2*(2rem)); }

.tours-section {
  margin-top: -25rem;
  background-color: #eee;
  padding: 15rem 0 25rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    background-color: orangered;
    height: 50rem;
    transition: all .8s; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: green; }
  .card:hover .card__side {
    transform: rotateY(-180deg); }
